Repository Ride-The-Lightning/RTL, pull requests merged in 2024-03, with the labels that each got.

#1354 fix: boltzd docs link
  frontend/index.html
  frontend/main.1824016c5cb16488.js
  frontend/main.6eb7d792dfcfe5df.js
  src/app/shared/components/node-config/services-settings/boltz-service-settings/boltz-service-settings.component.html
Labels: documentation, Boltz

#1356 Exit gracefully on SIGINT
  rtl.js
Labels: bug

#1363 Make RTL compatible with Eclair 0.10.0 new audit format
  backend/controllers/eclair/fees.js
  server/controllers/eclair/fees.ts
Labels: Eclair, version compatibility
